.sm-call-to-action--product-head {
  padding-top: calc(1.2944983819vw + 0.9466019417rem);
  padding-bottom: calc(1.2944983819vw + 0.9466019417rem);
  margin-bottom: calc(3.8834951456vw + 1.5898058252rem);
}
.sm-call-to-action--grey {
  background: #f4f6f6;
}
.sm-call-to-action--padding {
  padding-top: calc(1.2944983819vw + 0.9466019417rem);
  padding-bottom: calc(1.2944983819vw + 0.9466019417rem);
}
.sm-call-to-action {
  display: block;
  width: 100%;
  margin-bottom: 2.5rem;
}
.sm-call-to-action__inner {
  width: 90%;
  box-sizing: border-box;
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
}
.sm-call-to-action__title-container {
  margin-bottom: 0.625rem;
  grid-row: 1;
  align-self: end;
}
.sm-title--h2 {
  font-size: calc(1.2944983819vw + 1.3216019417rem);
  font-family: tt-norms-bold, helvetica, sans-serif;
  line-height: 1.2;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

.sm-title {
  color: #3f3f44;
}
.sm-call-to-action--product-head .sm-call-to-action__content {
  grid-row: 3;
  margin-bottom: 1.25rem;
}

.sm-call-to-action__content {
  grid-row: 2;
  margin-bottom: 2.5rem;
}
.sm-call-to-action__text-container {
  margin-bottom: 2em;
}
.sm-text--lead {
  font-size: calc(0.2588996764vw + 1.0643203883rem);
  font-family: tt-norms-regular, helvetica, sans-serif;
  line-height: 1.4;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  color: #3f3f44;
}
.sm-call-to-action__buttons {
  display: flex;
  flex-direction: column;
}
.sm-call-to-action__button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.sm-button {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: tt-norms-bold, helvetica, sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.05em;
  height: 2.8em;
  margin: 0;
  background-color: #e95d0f;
  border: none;
  border-radius: 1.55em;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  padding: 0 2em;
  max-width: 100%;
  transition: transform 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    box-shadow 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    color 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    background-color 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    border-color 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.sm-button__label {
  font: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.sm-call-to-action--product-head .sm-call-to-action__img-container {
  margin-bottom: 0.625rem;
  grid-row: 2;
}
.sm-call-to-action__img-container {
  grid-row: 3;
  grid-column: 1/2;
}
.sm-call-to-action__ratio-wrapper {
  position: relative;
  width: 100%;
  padding-top: 75%;
}
.sm-call-to-action__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 48em) {
  .sm-call-to-action {
    margin-bottom: 0;
  }
  .sm-call-to-action__img-container {
    grid-row: 1/3;
    grid-column: 2;
  }
  .sm-call-to-action--product-head .sm-call-to-action__img-container {
    margin-bottom: 0;
    grid-row: 1/3;
  }
  .sm-call-to-action__inner {
    grid-template-columns: 2fr 3fr;
  }
  .sm-call-to-action__title-container {
    grid-column: 1;
    padding: 0 10% 0 0;
  }
  .sm-call-to-action--product-head .sm-call-to-action__content {
    grid-row: 2;
  }
  .sm-call-to-action__content {
    margin-bottom: 0;
    grid-column: 1;
    padding: 0 10% 0 0;
  }
  .sm-button--wide {
    padding: 0 4em;
  }
}
@media (min-width: 64em) {
  .sm-call-to-action__inner {
    width: 80%;
  }
  .sm-text {
    font-size: 1.125rem;
  }
  .sm-call-to-action__buttons {
    display: inline-flex;
  }
  .sm-call-to-action__button-container {
    display: block;
  }
  .sm-button {
    font-size: 1.125rem;
  }
}
